seed: 11711
use_cuda: True

watcher:
  type: 'wandb' # 'none' for no watcher
  project_name: 'semantic_foxes_bert'
  mode: 'offline' # "online", "offline" or "disabled"

data:
  sst_dataset:
    train_path: 'data/ids-sst-train.csv'
    val_path: 'data/ids-sst-dev.csv'
    test_path: 'data/ids-sst-test-student.csv'
  quora_dataset:
    train_path: 'data/quora-train.csv'
    val_path: 'data/quora-dev.csv'
    test_path: 'data/quora-test-student.csv'
    weight: 10 # 10 times larger dataset
  sts_dataset:
    train_path: 'data/sts-train.csv'
    val_path: 'data/sts-dev.csv'
    test_path: 'data/sts-test-student.csv'

  dataloader:
    batch_size: 64
    num_workers: 1

bert_model:
  hidden_size: 768
  hidden_dropout_prob: 0.1
  attention_dropout_prob: 0.1
  bert_mode: 'finetune' # 'pretrain' or 'finetune'
  local_files_only: True
  weights_path: 'checkpoints/finetune_classifier.pt'

train:
  n_epochs: 10
  lr: 0.00001
  checkpoint_path: 'checkpoints/finetune_classifier.pt'
  dataloader_mode: 'continuous' # 'exhaust' or 'sequential' or 'min' or 'continuous'
  skip_train_eval: 3 # number of times to skip evaluation of train datasets
  max_train_size: null # null - reads the whole dataset, ~6050 - min 
  skip_optimizer_step: 3 # number of times to skip optimizer.step() -- only for 'continuous'
  add_cosine_loss: True


predict:
  sst_prediction_path: 'predictions/sst_prediction.csv'
  quora_prediction_path: 'predictions/quora_prediction.csv'
  sts_prediction_path: 'predictions/sts_prediction.csv'
