seed: 11711
use_cuda: True

data:
  sst_dataset:
    train_path: 'data/ids-sst-train.csv'
    val_path: 'data/ids-sst-dev.csv'
    test_path: 'data/ids-sst-test-student.csv'
  quora_dataset:
    train_path: 'data/quora-train.csv'
    val_path: 'data/quora-dev.csv'
    test_path: 'data/quora-test-student.csv'
  sts_dataset:
    train_path: 'data/sts-train.csv'
    val_path: 'data/sts-dev.csv'
    test_path: 'data/sts-test-student.csv'

  dataloader:
    batch_size: 128
    num_workers: 1

bert_model:
  hidden_size: 768
  dropout_prob: 0.1
  mode: 'pretrain' # 'pretrain' or 'finetune'
  local_files_only: False

train:
  n_epochs: 1
  lr: 0.001
  checkpoint_path: 'checkpoints/sst_classifier.pt'

predict:
  sst_prediction_path: 'predictions/sst/sst_prediction.csv'
  quora_prediction_path: 'predictions/quora/quora_prediction.csv'
  sts_prediction_path: 'predictions/sts/sts_prediction.csv'