seed: 11711
use_cuda: True

watcher:
  type: 'wandb' # 'none' for no watcher
  project_name: 'semantic_foxes_bert'
  mode: 'online' # "online", "offline" or "disabled"

data:
  sst_dataset:
    train_path: 'data/ids-sst-train.csv'
    val_path: 'data/ids-sst-dev.csv'
    test_path: 'data/ids-sst-test-student.csv'
  quora_dataset:
    train_path: 'data/quora-train.csv'
    val_path: 'data/quora-dev.csv'
    test_path: 'data/quora-test-student.csv'
  sts_dataset:
    train_path: 'data/sts-train.csv'
    val_path: 'data/sts-dev.csv'
    test_path: 'data/sts-test-student.csv'

  dataloader:
    batch_size: 64
    num_workers: 1

bert_model:
  hidden_size: 768
  hidden_dropout_prob: 0.1
  attention_dropout_prob: 0.1
  bert_mode: 'finetune' # 'pretrain' or 'finetune'
  local_files_only: False
  weights_path: 'checkpoints/finetune_classifier.pt'

train:
  n_epochs: 8
  lr: 0.00003
  checkpoint_path: 'checkpoints/finetune_classifier.pt'
  dataloader_mode: 'exhaust' # 'exhaust' or 'sequential' or 'min' or 'continuous'
  train_mode: 'triplet' # 'standard' or 'contrastive' or 'triplet'
  triplet_dropout_rates:
      sts: 0.2
      quora: 0.1
  skip_train_eval: 1 # number of times to skip evaluation of train datasets
#  max_train_size: 24 # null - reads the whole dataset, ~6050 - min
#  max_eval_size: 24


predict:
  sst_prediction_path: 'predictions/sst_prediction.csv'
  quora_prediction_path: 'predictions/quora_prediction.csv'
  sts_prediction_path: 'predictions/sts_prediction.csv'
